@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	       <div class="menu-button">Menu</div>
        <nav>
          <ul data-breakpoint="800" class="flexnav">
            <li><a href="">Item 1</a>
              <ul>
                <li> <a href="#content">Sub 1 Item 1</a></li>
                <li><a href="/">Sub 1 Item 2</a></li>
                <li><a href="/">Sub 1 Item 3</a></li>
                <li><a href="/">Sub 1 Item 4</a></li>
              </ul>
            </li>
            <li><a href="/">Item 2</a>
              <ul>
                <li><a href="/">Sub 1 Item 1</a></li>
                <li><a href="/">Sub 1 Item 2</a>
                  <ul>
                    <li><a href="/">Sub 2 Item 1</a></li>
                    <li><a href="http://jasonweaver.name/">Sub 2 Item 2</a></li>
                    <li><a href="http://jasonweaver.name/">Sub 2 Item 3</a></li>
                  </ul>
                </li>
                <li><a href="http://jasonweaver.name/">Sub 1 Item 3</a>
                  <ul>
                    <li><a href="http://jasonweaver.name/">Sub 2 Item 1</a></li>
                    <li><a href="http://jasonweaver.name/">Sub 2 Item 2</a>
                      <ul>
                        <li><a href="http://jasonweaver.name/">Sub 3 Item 1</a></li>
                        <li><a href="http://jasonweaver.name/">Sub 3 Item 2</a></li>
                        <li><a href="http://jasonweaver.name/">Sub 3 Item 3</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="http://jasonweaver.name/">Item 3</a>
              <ul>
                <li><a href="http://jasonweaver.name/">Sub 1 Item 1</a></li>
                <li><a href="http://jasonweaver.name/">Sub 1 Item 2</a></li>
                <li><a href="http://jasonweaver.name/">Sub 1 Item 3</a></li>
              </ul>
            </li>
            <li><a href="">Item 4</a>
              <ul>
                <li><a href="http://jasonweaver.name/">Sub 1 Item 1</a></li>
                <li><a href="http://jasonweaver.name/">Sub 1 Item 2</a></li>
                <li><a href="http://jasonweaver.name/">Sub 1 Item 3</a></li>
              </ul>
            </li>
            <li><a href="http://jasonweaver.name/">Item 5</a>
              <ul>
                <li><a href="http://jasonweaver.name/">Sub 1 Item 1</a></li>
                <li><a href="http://jasonweaver.name/">Sub 1 Item 2</a></li>
                <li><a href="http://jasonweaver.name/">Sub 1 Item 3</a></li>
              </ul>
            </li>
          </ul>
        </nav>