@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

    <footer>
      <div class="container">
		<div class="row">
			<div class="col-xs-12">
			<h3>Safeguarding Adults Board </h3>
			</div>
				
		</div>
		  
        <div class="row">
			<div class="col-xs-12">
			<p>Copyright &copy; @DateTime.Now.Year @CurrentPage._orgName | <a href="http://webteam.berkshire.nhs.uk" target="_blank">WebTeam</a></p>
			</div>
		</div>
	
		  
		 
      </div>
    </footer>
	
