@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var home = @CurrentPage.Site();
}
    <header>
	<div class="container header-banner">
		<div class="row">
			<div class="col-12 col-sm-6">
				<h1>@CurrentPage._siteTitle</h1>
			</div>
			<div class="col-xs-12 col-sm-6">
				@{ Html.RenderPartial("Search"); }
			</div>
		</div>
	</div>
    </header>

	@{ Html.RenderPartial("mainNav4"); }

	<!--
		<div class="container">
		<div id="searchbar" class="clearfix row">
			<script>
			  (function() {
				var cx = '016077691381142539426:rgqj5ef1q1k';
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
					'//cse.google.com/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
			  })();
			</script>
			<gcse:search></gcse:search>
		</div>
	</div>
	-->
@*{ Html.RenderPartial("subNavTest"); }*@