@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="search-ui">
    <script>
	  (function() {
		var cx = '016077691381142539426:rgqj5ef1q1k';
		var gcse = document.createElement('script');
		gcse.type = 'text/javascript';
		gcse.async = true;
		gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:searchbox-only resultsUrl="/search-results/"></gcse:searchbox-only>
</div>
