@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div id="twitter-feed">
	<h2>Twitter Feed</h2>
	<div id="tweets">
		<div class="tweet">
			<p>Lorem ipsum dolor sit amet, nec brute primis vivendo ne, populo moderatius at nec, meis gloriatur ne duo. Ad has meliore mediocrem patrioque.</p>
			<p class="small">Tweeted on 11/11/2015</p>
		</div>
		<div class="tweet">
			<p>Lorem ipsum dolor sit amet, nec brute primis vivendo ne, populo moderatius at nec, meis gloriatur ne duo. Ad has meliore mediocrem patrioque.</p>
			<p class="small">Tweeted on 11/11/2015</p>
		</div>
		<div class="tweet">
			<p>Lorem ipsum dolor sit amet, nec brute primis vivendo ne, populo moderatius at nec, meis gloriatur ne duo. Ad has meliore mediocrem patrioque.</p>
			<p class="small">Tweeted on 11/11/2015</p>
		</div>
	</div>
</div>
