@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "SubMaster.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="search-results">
				<gcse:searchresults-only></gcse:searchresults-only>
			</div>
		</div>
	</div>
</div>